.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

/* .Header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
} */

.Home {
  margin: 5px;
  font-size: 20px;
  color: white;
}

.Blog {
  margin: 20px;
  font-size: 20px;
  color: white;
  text-align: left;
}

.BlogPost {
  margin: 20px;
  font-size: 20px;
  color: white;
  text-align: left;
  text-indent: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2, h3, li {
  text-indent: 0;
  color: white;
}

button {
  background-color: #000066;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
  border-radius: 30px;
  border-color: #db0066;
  border-width: 3px;
  max-width: 80%;
  vertical-align: middle;
}

button:hover {
  background-color: #db0066;
  border-color: #000066;
}

button:focus {
  background-color: #545EA0;
  border-color: #000066;
}

.NavButton {
  height: 65px;
  width: 110px;
}

.BlogButton {
  width: 400px;
}

img {
  max-width: 60%;
  margin-top: 20px;
}

p {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}
