.Button {
  background-color: #d2e8ff;
  height: 50px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.Button:hover {
  background-color: #db0066;
  color: white;
}