.Button {
  background-color: #000066;
  color: white;
  height: 50px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
  border-radius: 30px;
  border-color: #db0066;
}

.Button:hover {
  background-color: #db0066;
  border-color: #000066;
}